* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 1vh 1vw;
    width: 99vw;
    height: 99vh;
    display: flex;
    align-items: center;
}

.controls {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
    border: 1px solid lightgray;
    background-color: #eee;
    border-collapse: collapse;
}

.controls > * {
    padding: 15px; 
    border: 1px solid lightgray;
    border-collapse: collapse;
}

.controls > *:last-child {
    border-bottom: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#colorDisplay {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 5px;
}

canvas {
    max-width: 75%;
    max-height: 100%;
}

.button {
    padding: 8px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 0.9rem;
    font-family: sans-serif;
    cursor: pointer;
    background-color: #c2c2c2;
    outline: none;
}

.button:hover {
    filter: brightness(90%);
}

.button:active {
    filter: brightness(70%);
}